name: Shell commands
on: [push]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo string
        run : echo "Hello-Github"
      - name: Run multiple line script
        run: |
          env
          node -v
          npm -v

#   zap_scan:
#     runs-on: ubuntu-latest
#     name: Scan the webapplication
#     steps:
#       - name: Checkout
#         uses: actions/checkout@v2
#         with:
#           ref: master
#       - name: ZAP Scan
#         uses: zaproxy/action-full-scan@v0.4.0
#         with:
#           docker_name: 'owasp/zap2docker-stable'
#           target: 'http://testphp.vulnweb.com/'
#           rules_file_name: '.zap/rules.tsv'
#           cmd_options: '-a'
          


  artifactoryUpload:
    name: Upload Trigger
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1.2.0
    - name: Docker build
      run: docker build -t test:v1 .
    - name: List Docker image
      run: ls -ltrs
    - name : List Docker image from custom folder1
      run : sudo ls -lts /var/lib/docker/
    - name : List Docker image from custom folder2
      run : sudo ls -lts /var/lib/docker/image
    - name : List Docker image from custom folder3
      run : sudo ls -R /var/lib/docker/image/overlay2/imagedb/content
    - name : Creating Tar file
      run : tar -cvf sample.tar .
    - name: publish to artifactory
      uses: advancedcsg-open/action-jfrog-cli@master
      with:
        url: 'https://sample113355.jfrog.io/artifactory'
        credentials type: 'apikey'
        apikey: ${{ secrets.RT_APIKEY }}
        args: u "sample.tar" sampleApp/
