name: Shell commands
on: [push]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo string
        run : echo "Hello-Github"
      - name: Run multiple line script
        run: |
          env
          node -v
          npm -v

  DockerImageBuildAndPush:
    name: Docker Task
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1.2.0

    - name: Build Docker Image
      run: docker build . -t "TestDockerImage" 

    # - name: Login to JFrog
    #   uses: docker login sample113355.jfrog.io
    #   with:
    #     apikey: ${{ secrets.DOCKER_REGISTRY }}

    # - name: Build and push
    #   id: docker_build
    # - uses: docker/build-push-action@v2
    #   with:
    #     push: true
    #     tags: sample113355.jfrog.io/TestDockerImage:latest

      
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        registry: sample113355.jfrog.io
        apikey: ${{ secrets.DOCKER_REGISTRY }}
      
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: sample113355.jfrog.io/TestDockerImage:latest