name: Workflow Test
on: [push, pull_request, workflow_dispatch]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo string
        run : echo "Hello-Github"
      - name: Run multiple line script
        run: |
          env
          node -v
          npm -v

  DockerImageBuildAndPush:
    name: Docker Task
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v1.2.0


    
      
    - name: Login to JFrgo Docker Repository
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.DOCKER_REGISTRY}}
        username: ${{ secrets.DOCKER_USERNAME}}
        password: ${{ secrets.DOCKER_APIKEY }}
      
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        push: false
        tags: ${{ secrets.DOCKER_REGISTRY }}/default-docker-local/v2

    - uses: jfrog/setup-jfrog-cli@v2
    - run: |
          jf --version
          jf rt docker-push ${{ secrets.DOCKER_REGISTRY }}/default-docker-local/v2 docker-local --build-name=my-docker-build  --build-number=1
          jf rt build-scan my-docker-build 1