name: Workflow Test
on: [push]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo string
        run : echo "Hello-Github"
      - name: Run multiple line script
        run: |
          env
          node -v
          npm -v

  DockerImageBuildAndPush:
    name: Docker Task
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1.2.0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.DOCKER_REGISTRY}}
        username: ${{ secrets.DOCKER_USERNAME}}
        password: ${{ secrets.DOCKER_APIKEY }}
      
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_REGISTRY }}/default-docker-local/sample-images:v2