name: Shell commands
on: [push]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo string
        run : echo "Hello-Github"
      - name: Run multiple line script
        run: |
          env
          node -v
          npm -v

  DockerImageBuildAndPush:
    name: Docker Task
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1.2.0

    # - name: Build Docker Image
    #   run: docker build -t "default-docker-remote" .

    # Variables and their reference values
    # JF_DOCKER_ARTIFACTORY - Custom JF Artifactory Server Name,  value is coming from repo secrets (server/ui/native/default-docker-remote)
    # DOCKER_USERNAME - JF Docker User Name, value is coming from repo secrets
    # DOCKER_REGISTRY - JF Docker Password, usig API token for authenticaton which is coming from repo secrets
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.JF_DOCKER_ARTIFACTORY }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_REGISTRY }}
      
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ${{ secrets.JF_DOCKER_ARTIFACTORY }}/sample-docker/default-docker-remote:latest      #Value for JF_DOCKER_ARTIFACTORY is my customr JF Platform